/*
 * Please see the included README.md file for license terms and conditions.
 */


/* This file is completely optional and not required. */
/* Note the reference that includes it in the index.html file. */


/* Disable certain interactions on touch devices */
/* SOURCE: https://github.com/ftlabs/fastclick/blob/master/examples/input.html */
/* LICENSE: https://github.com/ftlabs/fastclick/blob/master/LICENSE */
body {
    -webkit-touch-callout: none ;
    -webkit-text-size-adjust: none ; -ms-text-size-adjust: none ;
    -webkit-user-select: none ; -moz-user-select: none ; -ms-user-select: none ; user-select: none ;
    -webkit-highlight: none ;
    -webkit-tap-highlight-color: rgba(0,0,0,0) ;
    -webkit-tap-highlight-color: transparent ;      /* For some Androids */
}

/* Recommended for Windows 8 Phone */
/* SOURCE: http://www.excellentwebworld.com/common-problems-solution-for-windows-phone-8-phonegap */
html {
    -ms-touch-action: pan-x ;
}

/* Recommended for Windows 8 Phone */
/* SOURCE: http://www.excellentwebworld.com/common-problems-solution-for-windows-phone-8-phonegap */
body {
    -ms-touch-action: pan-y ;
    -ms-content-zooming: none ;
}

/* allow copy-paste */
input, textarea  {
    -webkit-user-select: text ; -moz-user-select: text ; -ms-user-select: text ; user-select: text ;
}

body {
    /* margin: 0.5rem ; */
    background: white ;
    color: black ;
}

.container-fluid{
   
    padding: 0px;
}

#SearchBar{
    margin-top: 5px;
    margin-bottom: 5px;
}
#HeaderContainer{
/*
   display: flex;
  flex-direction: column;
  justify-content: center;
*/
    height: 200px;
    text-align: center;
}

#SearchBar{
   width: 100%; 
}
a {
    width:95%;
     border: 1px black;
}
#catlist{
    
    border-bottom:none;
	
	margin:10px auto;
}
#catlist dl{
	
	margin:0 auto;
	
	padding:10px;
	overflow:hidden;
	background:#f2f2f2;
}
#catlist dd{overflow:auto}
#catlist dt strong{
	float:right;
	padding:0 0 0 20px;
}
#catlist dt img{
	float:left;
	margin:0 10px 0 0;
	border:1px solid #000;
}
.btn-group button{
	float: left;
}
#nextPage{
	float: right;
}
.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
	
  overflow: auto;
  margin: auto;
  position: absolute;
  top: 0; left: 0;  right: 0;
}
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
#loading {  
  position: relative;  
}  
  

